<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">WORLD BUILDER</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href='/'>Home</a>
      <a class="nav-item nav-link" href='/world'>Worlds</a>
      <a class="nav-item nav-link" href="https://google.com">Locations</a>
      <a class="nav-item nav-link" href="/defense">Defenses</a>
      <a class="nav-item nav-link" href="/weapon">Weapons</a>
      <a class="nav-item nav-link" href="https://google.com">Factions</a>



    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/" target="_blank">
        <i class="fa fa-github"></i>
      </a>
    </div>
  </div>
</nav>
