<!-- <form #createLocationForm="ngForm" method="POST" (ngSubmit)="createLocation(createLocationForm);">
  <label for="name">Location Name</label>
  <input type="text" name="name" id="name" ngModel>
  <label for="description">Location Description</label>
  <input type="text" name="descriptor" id="description" ngModel>
  <input type="submit">
</form>
<h2 id="createWorldNotifier">{{notifier}}</h2> -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">

<form #createLocationForm="ngForm" method="POST" (ngSubmit)="createLocation(createLocationForm)">
  <h4>CREATE L<i class="far fa-compass"></i>CATI<i class="far fa-compass"></i>N</h4>
  <br>
  
  <label for="name"><strong>Location Name</strong></label>
  <br>
  <input type="text" name="name" id="name" placeholder="Location Name"  ngModel>
  <br>
  <br>
  <br>
  <!-- <label for="description"><strong>World Description</strong></label> -->
  <!-- <br> -->
  <!-- <input type="text" name="descriptor" id="description" placeholder="Description" ngModel> -->
  <div class="form-group">
    <label for="description"><strong>Location Description</strong></label>
    <textarea class="form-control rounded-0" name="descriptor" id="description" rows="5" placeholder="Description"  ngModel></textarea>
  </div>
  <br>
  <br>
  <input type="submit"class="btn btn-outline-light" value="SUBMIT" ngModel>
</form>
<br>
  <br>
<h6 id="createLocationNotifier">{{notifier}}</h6>