<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
  <!-- <div *ngFor="let location of locations"> -->
    <!-- <h2><i class="fas fa-map-marked-alt"></i> {{location.name}}</h2> -->
    <!-- <h2>{{weapon.description}}</h2> -->
  <!-- </div> -->


  <table class="table table-bordered table-hover" mat-table [dataSource]="locations">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"><i class="fas fa-map-marked-alt"></i> {{element.name}} </td>
    </ng-container>
     <ng-container matColumnDef="description"> 
      <th mat-header-cell *matHeaderCellDef> description </th>
      <td mat-cell *matCellDef="let element"> {{element.descriptor}} </td>
    </ng-container> 
    <!-- <ng-container matColumnDef="range">
      <th mat-header-cell *matHeaderCellDef> range </th>
      <td mat-cell *matCellDef="let element">{{element.range.name}} </td>
    </ng-container>  -->
  
  
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>