<span *ngIf=faction>
  <div class="panel panel-primary">
    <!-- <div class="panel-heading">{{world.user.username}}'s world</div> -->
    <div class="panel-body">
      <!-- <h3> User name: {{world.user.username}}</h3> -->
      <h1>
        {{faction.name}} <span style="font-size:50%"> of {{faction.world.name}} </span>
      </h1>
      <em>"{{faction.descriptor}}"</em>
      <br>
      <br>
      <h6>Tags:</h6>
      <span id="header_tags" *ngFor="let tag of faction.tags">
        <i class="fas fa-tag"></i> {{tag.name}}
      </span>
      <span *ngIf="userId == faction.world.user.id">
        <i class="fas fa-plus-circle" (click)=(newTag())> New Tag </i>
      </span>
    </div>
  </div>

  <br>

  <!-- <span *ngFor="faction.weapons"> -->

  <!-- </span> -->

  <span *ngIf="userId == faction.world.user.id">
    <i class="fas fa-plus-circle" (click)=(newWeapon())> New Weapon </i>
  </span>

  <span *ngIf="userId == faction.world.user.id">
    <i class="fas fa-plus-circle" (click)=(newDefense())> New Defense </i>
  </span>
</span>