<span *ngIf=faction>
  <div class="panel panel-primary">
    <!-- <div class="panel-heading">{{world.user.username}}'s world</div> -->
    <div class="panel-body">
      <h1><i class="fas fa-universal-access"></i></h1>
      <!-- <h3> User name: {{world.user.username}}</h3> -->
      <h1>
        {{faction.name}} <span style="font-size:50%"> of {{faction.world.name}} </span>
      </h1>
      <em>"{{faction.descriptor}}"</em>
      <br>
      <span>Population: {{faction.population | number}}</span>
      <br>
      <br>
      <h6>Tags:</h6>
      <span id="header_tags" *ngFor="let tag of faction.tags">
        <i class="fas fa-tag"></i> {{tag.name}}
      </span>
      <span *ngIf="userId == faction.world.user.id">
        <i class="fas fa-plus-circle clickable" (click)=(newTag())> New Tag </i>
      </span>
    </div>
  </div>

  <br>


  <!-- Weapons -->
  <table class="table table-bordered table-hover" mat-table [dataSource]="faction.weapons">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Weapon Name</th>
      <td mat-cell *matCellDef="let element"><i class="fas fa-crosshairs"></i> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.descriptor}} </td>
    </ng-container>
    <ng-container matColumnDef="range">
      <th mat-header-cell *matHeaderCellDef> Range </th>
      <td mat-cell *matCellDef="let element"> {{element.range.name}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWeapons"></tr>
    <tr mat-row (click)='goToWeapon(myRowData.name)' *matRowDef="let myRowData; columns: columnsToDisplayWeapons"></tr>
  </table>

  <!-- new weapon -->
  <span *ngIf="userId == faction.world.user.id">
    <i class="fas fa-plus-circle clickable" (click)=(newWeapon())> New Weapon </i>
  </span>


  <!-- Defenses -->
  <table class="table table-bordered table-hover" mat-table [dataSource]="faction.defenses">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Defense Name</th>
      <td mat-cell *matCellDef="let element"><i class="fas fa-shield-alt"></i>{{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.descriptor}} </td>
    </ng-container>
    <ng-container matColumnDef="slot">
      <th mat-header-cell *matHeaderCellDef> Body Slot </th>
      <td mat-cell *matCellDef="let element"> {{element.slot.name}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayDefenses"></tr>
    <tr mat-row (click)='goToDefense(myRowData.name)' *matRowDef="let myRowData; columns: columnsToDisplayDefenses" ></tr>
  </table>

  <!-- new defense -->
  <span *ngIf="userId == faction.world.user.id">
    <i class="fas fa-plus-circle clickable" (click)=(newDefense())> New Defense </i>
  </span>
</span>