<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css"
  integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
<div>
<div *ngIf='userId; else notLoggedIn'>
  <h1><i class="fas fa-hammer"></i> WELCOME TO WORLD BUILDER <i class="fas fa-wrench"></i> </h1>

  <br>
  <br>
  <h3>Hello! </h3>
  <br>
  <h3>Go to your profile:</h3>
  <button type="button" mdbBtn color="light" mdbWavesEffect routerLink="/profile">Profile</button>
</div>

<ng-template #notLoggedIn>
  <h1><i class="fas fa-hammer"></i> WELCOME TO WORLD BUILDER <i class="fas fa-wrench"></i> </h1>

  <br>
  <br>

  <button type="button" class="btn btn-outline-light" mdbWavesEffect routerLink="/login">Login</button>
  <br>
  <br>
  <h6>OR</h6>
  <br>

  <h4><i class="fas fa-dragon"></i> Continue to explore World Builder as a guest <i class="fas fa-dove"></i></h4>
</ng-template>
</div>