div h1 {
    text-align: center;
    color: white;
}

div form {
    
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid black; */
    width: 30%;
}

form div input[type=text], input[type=password] {
    display: block;
    margin-bottom: 30px;
    padding: 5px;
   
}

form div input[type=submit] {
    float: right;
    border: none;
    width: 100px;
    height: 30px;
    
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

form div {
   
    padding: 10px;
    overflow: hidden;
}

form {
   
    color:white;
    background-color:#434344;
}

label {
    
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
}