<div *ngIf="world" class="container">
  <h1>{{world.name}} <span>by {{world.user.username}}</span></h1>
  <h2>Description:
    <span>{{world.descriptor}}</span>
  </h2>
  <h2 id="header_tags" *ngFor="let tag of world.tags">Tags:
    <span><i class="fas fa-tag"></i>{{tag.name}}</span>
  </h2>
</div>
<div id="factions_and_locations_div">
  <div *ngIf="factions">
    <h2>Factions</h2>
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Population</th>
      </tr>
      <tr class="table_row" *ngFor="let faction of factions">
        <td>{{faction.name}}</td>
        <td>{{faction.descriptor}}</td>
        <td>{{faction.population}}</td>
      </tr>
    </table>
  </div>
  <div *ngIf="locations">
    <h2>Locations</h2>
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
      <tr class="table_row" *ngFor="let location of locations">
        <td>{{location.name}}</td>
        <td>{{location.descriptor}}</td>
      </tr>
    </table>
  </div>