<div>
  <h1>World Name <span>by User</span></h1>
  <h2>Description: 
    <span>This is a description of my world</span>
  </h2>
  <h2 id="header_tags">Tags: 
    <span>&#9898; Fantasy</span> 
    <span>&#9898; Elves</span> 
    <span>&#9898; Ogres</span>
  </h2>
</div>
<div id="factions_and_locations_div">
  <div>
    <h2>Factions</h2>
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Population</th>
      </tr>
      <tr class="table_row">
        <td>Elves</td>
        <td>A land of elves</td>
        <td>2000000</td>
      </tr>
      <tr class="table_row">
        <td>Ogres</td>
        <td>A land of Ogres</td>
        <td>1000000</td>
      </tr>
    </table>
  </div>
  <div>
    <h2>Locations</h2>
    <table>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
        <tr class="table_row">
          <td>Home of the Elves</td>
          <td>This is the home of the Elves</td>
        </tr>
        <tr class="table_row">
          <td>Home of the Ogres</td>
          <td>This is the home of the Ogres</td>
        </tr>
      </table>
  </div>
</div>